In [72]:
import pandas as pd
import numpy as np

In [73]:
data = pd.read_csv('data.csv')

In [74]:
data['日期时间'] = pd.to_datetime(data['RetweetTime'],format='%Y/%m/%d %H:%M')

In [75]:
from datetime import datetime
data['日期小时'] = data['日期时间'].apply(lambda x:x.strftime("%Y-%m-%d %H"))

In [76]:
from datetime import datetime
data['日期时间'].iloc[1].strftime("%Y-%m-%d %H")

'2022-03-24 23'

In [77]:
sort_time = sorted(data.groupby('日期小时').groups.keys())

In [78]:
print(sort_time[0],sort_time[241])
print(sort_time[241],sort_time[482])
print(sort_time[482],sort_time[722])

2022-02-27 22 2022-03-10 08
2022-03-10 08 2022-03-20 09
2022-03-20 09 2022-03-30 09

In [79]:
data_1 = pd.merge(data[data['日期小时']>='2022-02-27 22'],data[data['日期小时']<'2022-03-10 08'],how='inner')
data_2 = pd.merge(data[data['日期小时']>='2022-03-10 08'],data[data['日期小时']<'2022-03-20 09'],how='inner')
data_3 = pd.merge(data[data['日期小时']>='2022-03-20 09'],data[data['日期小时']<='2022-03-30 09'],how='inner')

In [80]:
sort_1 = data_1[['TargetID','SourceID']].groupby('SourceID').count().sort_values(by='TargetID')
sort_2 = data_2[['TargetID','SourceID']].groupby('SourceID').count().sort_values(by='TargetID')
sort_3 = data_3[['TargetID','SourceID']].groupby('SourceID').count().sort_values(by='TargetID')

In [81]:
data_1_1 = data_1[data_1['SourceID'] == 2538826567]
data_2_1 = data_2[data_2['SourceID'] == 3017516708]
data_3_1 = data_3[data_3['SourceID'] == 2806207081]

In [82]:
data_1_1['sum'] = 1
data_2_1['sum'] = 1
data_3_1['sum'] = 1
data_1_1.groupby('日期小时').sum().sort_values(by='sum')

C:\Users\86132\AppData\Local\Temp\ipykernel_93824\42519947.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1_1['sum'] = 1
C:\Users\86132\AppData\Local\Temp\ipykernel_93824\42519947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2_1['sum'] = 1
C:\Users\86132\AppData\Local\Temp\ipykernel_93824\42519947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_3_1['sum'] = 1

                   SourceID      TargetID  sum
日期小时
2022-03-01 12    2538826567    1274497066    1
2022-03-04 01    2538826567    1782081549    1
2022-03-04 06    2538826567    1658225839    1
2022-03-05 07    2538826567    6633734791    1
2022-03-10 01    2538826567    7512978078    1
...                     ...           ...  ...
2022-03-03 11  332586280277  510627202539  131
2022-03-09 08  345280413112  410528135262  136
2022-03-07 08  406212250720  533959799338  160
2022-03-02 17  406212250720  494930170067  160
2022-03-01 16  571235977575  741649131428  225

[145 rows x 3 columns]

In [83]:
SEED_1 = 2538826567
SEED_2 = 3017516708
SEED_3 = 2806207081
Datetime_1 = '2022-03-01 16'
Datetime_11 = '2022-03-02 02'
Datetime_2 = '2022-03-18 14'
Datetime_21 = '2022-03-19 00'
Datetime_3 = '2022-03-23 09'
Datetime_31 = '2022-03-23 19'

In [84]:
def get_seet(data,Datetime_1,Datetime_2):
    d_t_1 = data[data['日期小时'] >= Datetime_1]
    d_t_2 = data[data['日期小时'] <= Datetime_2]
    d_t = pd.merge(d_t_1,d_t_2,how='inner')
    targetID_list = list(d_t.groupby('TargetID').groups.keys())
    return targetID_list

In [85]:
list_1 = get_seet(data_1,Datetime_1,Datetime_11)
list_2 = get_seet(data_2,Datetime_2,Datetime_21)
list_3 = get_seet(data_3,Datetime_3,Datetime_31)

In [86]:
def get_tuple(num,List):
    list_tuple = []
    for i in List:
        a = tuple((num,i))
        list_tuple.append(a)
    return list_tuple

In [87]:
list_tuple_1 = get_tuple(SEED_1,list_1)
list_tuple_2 = get_tuple(SEED_2,list_2)
list_tuple_3 = get_tuple(SEED_3,list_3)

In [88]:
import networkx as nx

# 创建三张关系图
G_1 = nx.Graph()
G_2 = nx.Graph()
G_3 = nx.Graph()

# 第一次深度遍历
G_1.add_node(SEED_1)
G_1.add_nodes_from(list_1)
G_1.add_edges_from(list_tuple_1)

G_2.add_node(SEED_2)
G_2.add_nodes_from(list_2)
G_2.add_edges_from(list_tuple_2)

G_3.add_node(SEED_3)
G_3.add_nodes_from(list_3)
G_3.add_edges_from(list_tuple_3)

In [89]:
def add_grape(G,data,List):
    list_all = []
    for node in List:
        # 转发记录：转发
        source = data[data['TargetID'] == node]
        source_list = list(source.groupby('SourceID').groups.keys())
        source_tuple = get_tuple(node,source_list)
        G.add_nodes_from(source_list)
        G.add_edges_from(source_tuple)

        #转发记录：被转发
        target = data[data['SourceID'] == node]
        target_list = list(target.groupby('TargetID').groups.keys())
        target_tuple = get_tuple(node,target_list)
        G.add_nodes_from(target_list)
        G.add_edges_from(target_tuple)

        list_node = source_list + target_list
        list_all = list_all + list_node

    # 返回深度搜索得到的全部结点
    return list_all

In [90]:
# 第二次深度遍历
list2_1 = add_grape(G_1,data,list_1)
list2_2 = add_grape(G_2,data,list_2)
list2_3 = add_grape(G_3,data,list_3)

In [ ]:
'''# 删除列表中的重复元素
list2_1 = list(set(list2_1))
list2_2 = list(set(list2_2))
list2_3 = list(set(list2_3))

# 第三次深度遍历
_ = add_grape(G_1,data,list2_1)
_ = add_grape(G_2,data,list2_2)
_ = add_grape(G_3,data,list2_3)'''

In [99]:
print(G_1.number_of_nodes())
len(set(list(G_1.nodes)))

33725

33725

In [100]:
nx.write_gml(G_1,'g1.gml')
nx.write_gml(G_2,'g2.gml')
nx.write_gml(G_3,'g3.gml')